@model IEnumerable<WebQLThuVien.Models.Book>

@{
    ViewBag.Title = "Quản lý sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">@ViewBag.Title</h4>
                </div>
                <div class="card-content">
                    <table class="table table-hover" id="mainTable">
                        <thead class="text-danger">
                            <tr>
                                <th style="width: 30px">@Html.DisplayNameFor(x => x.Id)</th>
                                <th style="width: 100%">@Html.DisplayNameFor(x => x.Name)</th>
                                <th style="width: 100%">@Html.DisplayNameFor(x => x.Author)</th>
                                <th style="width: 120px">@Html.DisplayNameFor(x => x.PublishYear)</th>
                                <th style="width: 150px">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Author.Name</td>
                                    <td>@item.PublishYear</td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <a href="@Url.Action("Detail", new { id = item.Id })" class="btn btn-success">Chi tiết</a>
                                            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Edit", new { id = item.Id })">Chỉnh sửa</a></li>
                                                <li><a data-href="@Url.Action("Delete", new { id = item.Id })" href="#" onclick="deleteItem(this)">Xóa</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h4 class="title">Thao tác</h4>
                </div>
                <div class="card-content">
                    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary btn-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Xác nhận xóa?</h4>
            </div>
            <div class="modal-body">
                Thao tác này không thể khôi phục được, muốn tiếp tục?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger btn-simple" onclick="confirmDelete()">Xóa</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @*<script type="text/javascript" src="~/assets/js/jquery-paginate.min.js"></script>*@
    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#mainTable').DataTable({
                ordering: false,
                info: false,
            });
        })
    </script>
    <script type="text/javascript">
        var url;
        function deleteItem(item) {
            url = $(item).data('href');
            $('#modal').modal({ backdrop: false });
        }
        function confirmDelete() {
            top.location.href = url;
        }
    </script>
}

@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
}
