@model WebQLThuVien.Models.Reader

@{
    ViewBag.Title = "Tạo mới độc giả";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h3 class="title">@ViewBag.Title</h3>
                </div>
                <div class="card-content">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group label-floating">
                            @Html.LabelFor(x => x.Username, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                        </div>
                        <div class="form-group label-floating">
                            @Html.LabelFor(x => x.Password, new { @class = "control-label" })
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                        </div>
                        <div class="form-group label-floating">
                            @Html.LabelFor(x => x.Fullname, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.Fullname, new { @class = "form-control" })
                        </div>
                        <div class="form-group label-floating">
                            @Html.LabelFor(x => x.Address, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                        </div>
                        <div class="form-group label-floating">
                            @Html.LabelFor(x => x.PhoneNumber, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                        </div>
                        <div class="form-group label-floating">
                            @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                        </div>
                        if (!Html.ViewData.ModelState.IsValid)
                        {
                            @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })
                        }
                        if (ViewBag.Message != null)
                        {
                            <div class="alert alert-info">
                                @ViewBag.Message
                            </div>
                        }
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Đồng ý</button>
                            <a href="@Url.Action("Index")" class="btn btn-info">Trở lại</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.0.3/bootstrap-show-password.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('input[type="password"]').password({
            eyeClass: 'fa',
            eyeOpenClass: 'fa-eye',
            eyeCloseClass: 'fa-eye-slash'
        });
    </script>
}
