@model IEnumerable<WebQLThuVien.Models.Ticket>
@{
    ViewBag.Title = "Danh sách phiếu mượn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">@ViewBag.Title</h4>
                </div>
                <div class="card-content">
                    <table class="table table-hover" id="mainTable">
                        <thead class="text-danger">
                        <tr>
                            <th style="width: 80px">@Html.DisplayNameFor(x => x.Id)</th>
                            <th>@Html.DisplayNameFor(x => x.ReaderId)</th>
                            <th>@Html.DisplayNameFor(x => x.DateCreated)</th>
                            <th>@Html.DisplayNameFor(x => x.Status)</th>
                            <th style="width: 150px">Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.Id)</td>
                                <td>@item.Reader.Fullname</td>
                                <td>@Html.DisplayFor(m => item.DateCreated)</td>
                                <td>@item.Status</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a href="@Url.Action("Detail", new {id = item.Id})" class="btn btn-success">Chi tiết</a>
                                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("Print", new {id = item.Id})">In phiếu</a></li>
                                            <li><a href="@Url.Action("Edit", new {id = item.Id})">Chỉnh sửa</a></li>
                                            @if (item.DateReturned == null)
                                            {
                                                <li><a href="@Url.Action("Return", new {id = item.Id})">Trả sách</a></li>
                                            }
                                            <li><a data-href="@Url.Action("Delete", new {id = item.Id})" href="#" onclick="deleteItem(this)">Xóa phiếu</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="card-title">Lọc phiếu mượn</h4>
                </div>
                <div class="card-content">
                    <div class="form-group">
                        <label class="control-label">Độc giả</label>
                        @Html.DropDownList("readerId", new SelectList(ViewBag.Readers, "Id", "Fullname"), new { @class = "form-control" })
                    </div>
                    <button class="btn btn-block btn-simple btn-primary" type="button" onclick="doFilter(this)">Lọc</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h4 class="title">Tạo phiếu mới</h4>
                </div>
                <div class="card-content">
                    <form role="form" action="@Url.Action("Create")" method="post">
                        <div class="form-group">
                            @Html.Label("Độc giả", new {@class = "control-label"})
                            @Html.DropDownList("ReaderId", new SelectList(ViewBag.Readers, "Id", "Fullname"), new {@class = "form-control"})
                        </div>
                        <button class="btn btn-block btn-primary btn-simple" type="submit">Tạo mới</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Xác nhận xóa?</h4>
            </div>
            <div class="modal-body">
                Thao tác này không thể khôi phục được, muốn tiếp tục?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger btn-simple" onclick="confirmDelete()">Xóa</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        // Datatables
        $(function() {
            $('#mainTable').DataTable({
                ordering: false,
                info: false
            });
        });

        // Detele callback
        var url;
        function deleteItem(item) {
            url = $(item).data('href');
            $('#modal').modal({ backdrop: false });
        }
        function confirmDelete() {
            top.location.href = url;
        }

        // Select 2 Initialize
        $('select').select2();

        // Filter callback
        function doFilter() {
            var $e = $('#readerId');
            top.location.href = "?readerId=" + $e.val();
        }
    </script>
}

@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
}
